@mixin font-style($f-size: null, $f-weight: null, $f-color: #000000) {
  font-size: $f-size;
  font-weight: $f-weight;
  color: $f-color;
}

@mixin flex-style(
  $align: null,
  $justify: null,
  $gap: null,
  $wrap: null,
  $direction: null
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
