@use "@style/base" as *;

.about-section {
  @include flex-style(center, center);
  width: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(270deg, #84eabc 0.5%, #a5dfe5 100%);
  overflow: hidden;
  .left-section {
    @include flex-style();
    width: 30%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);

    &.left-translate {
      transform: translateX(0%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.7s ease-in-out;
      transform: translate(-100%);
      transform: translateX(0%);
    }
  }
  .right-section {
    padding: 20px 30px;
    width: 70%;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);

    &.right-translate {
      transform: translateX(0%);
    }

    .content-container {
      border-radius: 20px 20px 20px 150px;
      height: 100%;
      background-color: #ffffff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
      padding: 30px 30px 30px 60px;

      h2 {
        @include font-style(28px, 600);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 25px;
      }

      .about-content {
        p {
          @include font-style(22px, 400);
          letter-spacing: 1px;
          margin: 20px 0;
          line-height: 30px;

          span {
            @include font-style($f-weight: 600, $f-color: null);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .about-section {
    position: relative;
    .left-section {
      width: 100%;
      transition: all 1s ease-in-out;
      transform: translateX(0%);
      position: absolute;
      left: 0;
      top: 0;

      &.left-translate {
        transform: translateX(-100%);
      }

      img {
        height: 100dvh;
      }
    }
    .right-section {
      padding: 0;
      width: 100%;
      transition: all 1s ease-in-out;

      .content-container {
        margin: 30px 10px;
        border-radius: 15px 15px 15px 100px;
        height: 100%;
        padding: 20px 20px 45px;

        h2 {
          @include font-style(24px, $f-color: null);
          letter-spacing: 1.5px;
        }

        .about-content {
          p {
            @include font-style(18px, $f-color: null);
            line-height: 24px;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}
