.experience-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(90deg, #84eabc 0.5%, #a5dfe5 100%);
  overflow: hidden;

  .left-section {
    padding: 20px 30px;
    width: 70%;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);

    &.left-translate {
      transform: translateX(0%);
    }

    .content-container {
      border-radius: 20px 20px 150px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: #ffffff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
      padding: 30px 60px 30px 30px;
      gap: 25px;
      color: black;

      h2 {
        font-size: 28px;
        font-weight: 600;
        color: #000000;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 auto 0 0;
      }

      .experience {
        .title {
          font-size: 22px;
          font-weight: 500;
          color: #000000;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 30px;
          span {
            font-weight: 600;
          }
          a {
            text-decoration: none;
          }
        }
        .duration {
          font-size: 18px;
          font-weight: 400;
          color: #000000;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 30px;
          border-bottom: 1px solid #000000;
          width: max-content;
        }
        .contributions {
          display: flex;
          flex-direction: column;
          gap: 3px;
          margin: 20px 0 20px 30px;
          li {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
          }
        }

        .project-worked-on {
          h3 {
            font-size: 20px;
            font-weight: 500;
            color: #000000;
          }
          ul {
            display: flex;
            gap: 15px;
            margin: 10px 0 10px 30px;
            list-style: none;
            li {
              display: flex;
              a {
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #000000;
                border-radius: 10px;
                padding: 10px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .right-section {
    display: flex;
    width: 30%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);

    &.right-translate {
      transform: translateX(0%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

@media only screen and (max-width: 991px) {
  .experience-section {
    position: relative;
    .left-section {
      padding: 0;
      width: 100%;
      transition: all 1s ease-in-out;

      .content-container {
        margin: 10px;
        border-radius: 15px 15px 100px 15px;
        padding: 20px 20px 45px;

        h2 {
          font-size: 24px;
        }

        .experience {
          .title {
            font-size: 18px;
            line-height: normal;
          }
          .duration {
            font-size: 16px;
            letter-spacing: normal;
          }
          .contributions {
            margin: 20px 0 20px 25px;
          }

          .project-worked-on {
            h3 {
              font-size: 18px;
            }
            ul {
              flex-wrap: wrap;
              margin: 10px 0 10px 25px;
            }
          }
        }
      }
    }

    .right-section {
      width: 100%;
      transition: all 1s ease-in-out;
      transform: translateX(0%);
      position: absolute;
      left: 0;
      top: 0;

      &.right-translate {
        transform: translateX(100%);
      }

      img {
        height: 100dvh;
      }
    }
  }
}
