/* Animation */
@keyframes rotate {
  from,
  to {
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0.1rem 0 0 hsl(0, 0%, 100%),
      -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
    transform: rotateY(-12deg);
  }
  25%,
  75% {
    animation-timing-function: ease-out;
    box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
      -0.25rem -0.05rem 1rem 0.15rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(0deg);
  }
  50% {
    animation-timing-function: ease-in;
    box-shadow: -0.1rem 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
      -0.3rem -0.1rem 1.5rem 0.3rem hsla(0, 0%, 0%, 0.3);
    transform: rotateY(12deg);
  }
}
@keyframes texture {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-50%, 0, 0);
  }
}

.skills-technologies-section {
  min-height: 100dvh;
  padding: 30px;
  background-image: linear-gradient(90deg, #84eabc 0.5%, #a5dfe5 100%);
  display: flex;
  flex-direction: column;

  .title {
    width: max-content;
    margin-bottom: 30px;
    background: white;
    color: black;
    padding: 15px 30px 15px 15px;
    border-radius: 0 30px 30px 0;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  }

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: auto;

    li {
      width: calc(100% / 9);
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      .skill {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        animation-name: rotate;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
          -0.2rem 0 0.75rem 0 hsla(0, 0%, 0%, 0.3);
        color: hsl(0, 0%, 100%);
        width: 150px;
        height: 150px;
        transform: translate3d(0, 0, 0);
      }

      .skill-img-texture {
        height: 100px;
        width: 90px;
        object-fit: contain;
      }

      @media (max-width: 1270px) {
        width: calc((100% - 125px) / 6);
        .skill {
          width: 120px;
          height: 120px;
        }
        .skill-img-texture {
          height: 75px;
          height: 75px;
        }
      }

      @media (max-width: 900px) {
        width: calc((100% - 100px) / 5);
        .skill {
          width: 120px;
          height: 120px;
        }
        .skill-img-texture {
          height: 75px;
          height: 75px;
        }
      }

      @media (max-width: 675px) {
        width: calc((100% - 75px) / 4);
        .skill {
          width: 120px;
          height: 120px;
        }
        .skill-img-texture {
          height: 75px;
          height: 75px;
        }
      }

      @media (max-width: 576px) {
        width: calc((100% - 30px) / 3);
        .skill {
          width: 100px;
          height: 100px;
        }
        .skill-img-texture {
          height: 60px;
          height: 60px;
        }
      }

      .skill,
      .skill-texture {
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      .skill-texture {
        position: absolute;
        animation-name: texture;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        animation-name: texture;
        background-image: linear-gradient(
          -80deg,
          hsla(0, 0%, 100%, 0.3) 25%,
          hsla(0, 0%, 100%, 0) 45%
        );
      }

      .skill-label {
        background-color: white;
        color: black;
        font-size: 14px;
        font-weight: 600;
        padding: 5px;
        text-align: center;
        margin-top: 10px;
        border-radius: 20%;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .skills-technologies-section {
    .title {
      font-size: 20px;
      padding: 10px 20px 10px 10px;
      margin-bottom: 25px;
      letter-spacing: 1.5px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .skills-technologies-section {
    padding: 10px;
    .skills-wrapper {
      gap: 10px;
      li {
        .skill-label {
          font-size: 12px;
        }
      }
    }
  }
}
